@{
    ViewData["Title"] = "Claims";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card2">
        <p>
            Welcome to the Claims Page!
             <br />
            We understand that filing a claim can be overwhelming, but we're here to make the process as smooth as possible. On this page, you can easily submit your claim, track its progress, and get support if you need assistance. Whether it's related to insurance, warranty, or any other service, we're committed to resolving your claims quickly and efficiently.
            <br />
            How to Use This Page:
            <br />
            Submit a Claim: Begin by filling out the claim form with all the necessary details. Please provide accurate and complete information to avoid delays.
            Track Your Claim: After submitting your claim, you will receive a unique reference number. Use this to track your claim's status at any time.
            <br />
            Need Help? Our support team is available to assist you with any questions or concerns. You can reach us via the 'Help' section or through our contact options at the bottom of the page.

            Thank you for trusting us. We’re committed to providing the best service and ensuring your claims are handled efficiently.
        </p>
    </div>

</div>
<br />
<button>
    Post a claim/Track Claims
    <div class="arrow-wrapper">
        <div class="arrow"></div>

    </div>
</button>
