<center>
<div class="form-container">
    <p class="title">Welcome back!</p>
    <form class="form">
        <input type="email" class="input" placeholder="Email" required>
        <input type="password" class="input" placeholder="Password" required>
        <p class="page-link">
                <a class="page-link-label" asp-controller="Home" asp-action="Index">Forgot Password?</a>
        </p>
        <button class="form-btn">Log in</button>
    </form>
    <p class="sign-up-label">
            Don't have an account?<a class="sign-up-link" asp-area="" asp-controller="Home" asp-action="Index">Sign up</a>
    </p>  
    </div>
</center>